.weatherCard {
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
    background-color: #000;
    color: #ffffff;
    border-radius: 30px;
}

.weatherCard__place {
margin-bottom: 0;
font-size: 25px;
}

.weatherCard__title {
    font-size: 30px;
    margin-top: 5px;
}

.weatherCard__temp {
    font-size: 32px;
    margin: 4px 0;
}

.weatherCard__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.weatherCard__list span{
    font-weight: bold;
}

.weatherCard__description {
    color: rgb(29, 224, 97);
    font-size: 22px;
    margin: 12px 0 ;
}

.weatherCard__btn {
    border: none;
    padding: 12px 20px;
    font-size: 20px;
    color: #ffffff;
    background-color: rgb(16, 116, 152);
    cursor: pointer;
    transition: transform 300ms ease;
    border-radius: 20px;
}

.weatherCard__btn:hover {
    transform: scale(1.05);
}

@media(max-width: 600px) {
    
.weatherCard__place {
    margin-bottom: 0;
    font-size: 20px;
    }
    
    .weatherCard__title {
        font-size: 25px;
        margin-top: 5px;
    }
    
    .weatherCard__temp {
        font-size: 30px;
        margin: 4px 0;
    }

    .weatherCard__description {
        font-size: 20px;
        margin: 12px 0 ;
    }

    .weatherCard__btn {
        font-size: 15px;
        color: #ffffff;
    }
    
  
}